<html>
    <title>
        리뷰예측
    </title>
    <head>
    <style type="../css/rainbow"></style>
            <center>
                <div style="background-color:lightgray; border: 5px solid #0a0a0a; border-radius:12px; width: auto; height: auto; margin: 15px; padding: 10px;">
                <p><h1 style="border: 5px double #DCDCDC; width: 500px; padding: 0.4em; background: #EBEEF0;">리뷰 긍부정 예측하기</h1></p>
                <form action = "/predict" method = "POST">
                    <b> 리뷰 : <input type="text", name='a', placeholder="예시 : 옷이 너무 이뻐요"> <br><br><br></b>
                        <input style="border: 3px solid #0a0a0a; border-radius:12px; width: auto; height: auto; margin: 3px; padding: 8px;" type="submit" , value='예측하기' >
                </div>
                </form>        
            </center>
        </body>
    </head>
</html>